<app-fireworks></app-fireworks>

<div class="centered-container">
  <mat-toolbar color="primary">
    <span>My Bootstrapped Application</span>
  </mat-toolbar>

  <mat-sidenav-container class="layoutcontainer">
    <H2>Hello World</H2>
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-list-item>Option 1</mat-list-item>
        <mat-list-item>Option 2</mat-list-item>
        <mat-list-item>Option 3</mat-list-item>
        <mat-list-item>Option 4</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>


      <div class="content">
        <h2>Working Area</h2>
        <p>This is where to bootstrap a sample MicroFrontEnd</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>