<mat-sidenav-container class="example-container">
  <!-- Sidenav content -->
  <mat-sidenav mode="side" opened>
    <mat-toolbar>Side Navigation</mat-toolbar>
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 2</mat-list-item>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      Main Toolbar
    </mat-toolbar>

    <div class="content">
      <h1>Welcome to the Angular Material App</h1>
      <p>Here is the content area.</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
